*{
    font-family: 'Outfit', sans-serif;
}:root{
    --main-color:
 #8500FF
}body{
    margin: 0;
    background: white;
}.box{
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background: var(--main-color);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 200px;
    padding-bottom: 20px
   
}h1{
    font-size: 44px;
    margin: 0px;
    margin-top: 30px;
    padding: 15px;
    background: var(--main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}input{
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background: white;
    border: 2px solid white;
    outline: none;
}button{
    border: none;
    background: white;
    color:var(--main-color);
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    width:220px ;
    border-radius:20px ;
}
footer{
background: #202020;
margin-top: 250px;
color: white;
padding: 10px;
font-weight: 900;
text-align:left
}
*{
  list-style: none;
  
  text-decoration: none;
  
}a{
  color: white;
  
}li{
  margin-top: 5px
}